USE evaluacion_practica
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE seguridad.sp_crear_reg_roles
    @nombre_rol NVARCHAR(30),
    @descripcion_rol NVARCHAR(300),
	@resultado NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	
	DECLARE @id_rol INT;

	BEGIN TRY
		
		INSERT INTO seguridad.roles(nombre_rol, descripcion_rol) VALUES (@nombre_rol, @descripcion_rol);

		SET @resultado = SCOPE_IDENTITY();
		SET @id_rol = SCOPE_IDENTITY();

		SET @resultado = (
                SELECT JSON_OBJECT(
                    'data': JSON_OBJECT(
                        'code': 0,
                        'id_rol': @id_rol,
                        'msg':N'Exito'),
                    'errors': NULL,
                    'object': NULL));
	END TRY
	BEGIN CATCH
		SET @resultado = (
			SELECT JSON_OBJECT(
				'data': JSON_OBJECT(
					'code': -1,
					'id_producto': 0,
					'msg': NULL),
				'errors': JSON_OBJECT(
					'error_line': ERROR_LINE(),
					'error_message': ERROR_MESSAGE(),
					'error_number': ERROR_NUMBER(),
					'error_procedure': ERROR_PROCEDURE(),
					'error_severity': ERROR_SEVERITY(),
					'error_state': ERROR_STATE()),
				'object': NULL));
	END CATCH;
END;
GO

DECLARE @result NVARCHAR(MAX);
EXEC seguridad.sp_crear_reg_roles @nombre_rol = N'Rol Prueba Desde BD',@descripcion_rol=N'Rol Descripcion Prueba Desde BD',@resultado=@result OUTPUT;
SELECT @result;
GO