USE evaluacion_practica
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE seguridad.sp_crear_reg_usuario
    @nombre NVARCHAR(30),
    @contrasenia NVARCHAR(500),
    @resultado NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @id INT;

    BEGIN TRY

        INSERT INTO seguridad.usuarios (nombre_usuario,contrasenia)
        VALUES (@nombre,@contrasenia);

        SET @id = SCOPE_IDENTITY();

        SET @resultado = JSON_OBJECT('data':JSON_OBJECT('code':0, 'id_usuario':@id, 'msg':N'Exito'),'error':NULL,'object':NULL);

    END TRY
    BEGIN CATCH
        SET @resultado = (
			SELECT JSON_OBJECT(
				'data': JSON_OBJECT(
					'code': -1,
					'id_usuario': 0,
					'msg': NULL),
				'errors': JSON_OBJECT(
					'error_line': ERROR_LINE(),
					'error_message': ERROR_MESSAGE(),
					'error_number': ERROR_NUMBER(),
					'error_procedure': ERROR_PROCEDURE(),
					'error_severity': ERROR_SEVERITY(),
					'error_state': ERROR_STATE()),
				'object': NULL));
    END CATCH
END
GO

DECLARE @result NVARCHAR(MAX);
EXEC seguridad.sp_crear_reg_usuario @nombre = N'marcus.go', @contrasenia = N'12345', @resultado = @result OUTPUT;
SELECT @result
GO