USE evaluacion_practica
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE seguridad.sp_crear_reg_usuario_rol
    @id_usuario INT,
    @id_rol INT,
	@resultado NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	BEGIN TRY
		DECLARE @id_usuario_rol INT;

		INSERT INTO seguridad.usuario_rol (fk_usuario,fk_rol)
		VALUES (@id_usuario,@id_rol);

		SET @id_usuario_rol = SCOPE_IDENTITY();

		SET @resultado = (
                SELECT JSON_OBJECT(
                    'data': JSON_OBJECT(
                        'code': 0,
                        'id_usuario_rol': @id_usuario_rol,
                        'msg':N'Exito'),
                    'errors': NULL,
                    'object': NULL));
	END TRY
	BEGIN CATCH
		SET @resultado = (
			SELECT JSON_OBJECT(
				'data': JSON_OBJECT(
					'code': -1,
					'id_usuario_rol': 0,
					'msg': NULL),
				'errors': JSON_OBJECT(
					'error_line': ERROR_LINE(),
					'error_message': ERROR_MESSAGE(),
					'error_number': ERROR_NUMBER(),
					'error_procedure': ERROR_PROCEDURE(),
					'error_severity': ERROR_SEVERITY(),
					'error_state': ERROR_STATE()),
				'object': NULL));
	END CATCH;
END;
GO

--DELETE FROM seguridad.usuario_rol WHERE id_usuario_rol = 3;
SELECT * FROM seguridad.usuario_rol;
SELECT * FROM seguridad.roles;
SELECT * FROM seguridad.usuarios;
GO

DECLARE @result NVARCHAR(MAX);
EXEC seguridad.sp_crear_reg_usuario_rol @id_usuario=7,@id_rol = 1004,@resultado=@result OUTPUT;
SELECT @result;
GO