USE evaluacion_practica
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE seguridad.sp_mostrar_roles
	@opcion INT
AS
BEGIN
	SET NOCOUNT ON;
	IF @opcion = 1
	BEGIN
		SELECT 
			r.id_rol, 
			r.nombre_rol, 
			r.descripcion_rol, 
			CASE 
				WHEN r.estado = 1 THEN 'Activo' 
				ELSE 'Inactivo' 
			END AS estado,
			r.fecha_creacion, 
			r.fecha_modificacion 
		FROM 
			seguridad.roles AS r;
	END
	ELSE
	BEGIN
		SELECT 
			r.id_rol, 
			r.nombre_rol, 
			r.descripcion_rol, 
			r.estado,
			r.fecha_creacion, 
			r.fecha_modificacion 
		FROM 
			seguridad.roles AS r;
	END
END;
GO

EXEC seguridad.sp_mostrar_roles @opcion = 1;
GO