USE evaluacion_practica
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE seguridad.sp_obtener_usuario
	@opcion INT,
	@username NVARCHAR(30),
	@id_usuario INT
AS
BEGIN
	SET NOCOUNT ON;

	IF @opcion = 1
	BEGIN
		/** BUSQUEDA POR USUARIO */
		SELECT TOP 1
			u.id_usuario AS N'user_id',
			u.nombre_usuario AS username,
			u.contrasenia AS password,
			u.estado AS user_state,
			ur.id_usuario_rol AS user_rol_id,
			ur.estado AS user_rol_state,
			ur.fk_rol AS rol_id,
			r.nombre_rol AS rol,
			r.descripcion_rol AS rol_description
		FROM 
			seguridad.usuarios AS u
		INNER JOIN
			seguridad.usuario_rol AS ur
		ON
			u.id_usuario = ur.fk_usuario
		INNER JOIN
			seguridad.roles AS r
		ON
			ur.fk_rol = r.id_rol
		WHERE
			u.nombre_usuario = @username
	END
	ELSE
	BEGIN
		/** BUSQUEDA POR USUARIO ID*/
		SELECT TOP 1
			u.id_usuario AS id_user,
			u.nombre_usuario AS username,
			u.contrasenia AS password,
			u.estado AS state,
			ur.id_usuario_rol AS user_rol,
			ur.fk_rol AS id_rol,
			r.nombre_rol AS rol 
		FROM 
			seguridad.usuarios AS u 
		INNER JOIN 
			seguridad.usuario_rol AS ur
		ON
			u.id_usuario = ur.fk_usuario
		INNER JOIN 
			seguridad.roles AS r
		ON
			ur.fk_rol = r.id_rol
		WHERE 
			u.id_usuario = @id_usuario AND
			u.estado = 1 AND
			ur.estado = 1;
	END
END;

EXEC seguridad.sp_obtener_usuario @opcion = 1,@username = N'alexemestica',@id_usuario=0;
GO